/**************************************GÉNÉRAL*********************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/**************************************VARIABLES***************************/
@import "./Utils/variables";

/*************************************MAP******************************/
$font-weights: (
    "light": 200,
    "regular":300,
    "medium": 500,
    "bold": 800
);

$breakpoints: (
    "tablette": 768px,
    "desktop": 1280px
);

/************************************MIXINS*****************************/
@mixin heart {
    color: transparent;
    @include gradient;
    background-clip: text;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

}


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border-radius ($r) {
    border-radius: $r;

}

@mixin gradient {
    background: linear-gradient(162deg, $cd-secondary 0%, $cd-primary 100%);
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-Word;
    overflow: hidden;
  /* alternative à la formule: 
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis*/
}

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}



/************************************LOADER*****************************/
.spinner-container {
    @include center;
    min-height: 100vh;
    background: $cd-bg-grey;
    position: fixed;
    inset: 0;
    z-index: 3;
    animation: fadeaway 1000ms 3000ms linear forwards;

}

.spinner {
    position: relative;
    width: 15rem;
    height: 15rem;
    transform-style: preserve-3d;
    perspective: 800px;

    .arc {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include border-radius(50%);

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation: rotate#{$i} 1.15s linear infinite;
            }
        }

        &:nth-child(1) {
            animation-delay: -0.8s;
            border-bottom: 10px solid $cd-primary;
        }

        &:nth-child(2) {
            animation-delay: -0.4s;
            border-bottom: 10px solid $cd-secondary;
        }

        &:nth-child(3) {
            animation-delay: 0s;
            border-bottom: 10px solid $cd-tertiary;
        }
    }
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
    }
}

@keyframes fadeaway {
    0% {
        transform: translateY(20px);
        opacity: 1;
    }

    85%,
    100% {
        opacity: 0.33;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
        visibility: hidden;
    }
}


/*****************************************HEADER**********************************/
.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-shadow: $boxshadow;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;

    &.header--menu-pages {
        box-shadow: none;

        @include tablette-only {
            padding: 1rem;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: none;
    }

    &__return {
        position: absolute;
        left: 2rem;
        font-size: $font-size-icons;
    }

    &__logo {
        width: 200px;
    }
}

/***************************************SEARCH****************************/
.search {
    @include center;
    height: 4.5rem;
    background-color: #f0efef;

    i {
        font-size: $font-size-icons;
        margin: 0 0 0.5rem 3.5rem;
    }

    input {
        border: none;
        background-color: #f0efef;
        width: 250px;
        height: 40px;
        text-indent: 1rem;

        &:focus {
            margin-left: 0.5rem;
        }

        &::placeholder {
            color: black;
            font-size: 1.5rem;
        }
    }
}

/********************************MAIN TITLE***************************/
.main-title {
    @include center;
    flex-direction: column;
    text-align: center;
    padding: $section-padding;
    background-color: $cd-bg-grey;

    &_intro h1 {
        font-size: 28px;
    }

    &__intro-plus {
        font-size: 18px;
        font-weight: map-get($font-weights, light);
        margin-bottom: 32px;
    }
}

/**********BOUTON PURPLE*********/
.btn-bg {
    @include center;
    color: white;
    width: 220px;
    height: 55px;
    margin: 20px auto;
    @include border-radius(50px);
    white-space: nowrap;
    cursor: pointer;
    padding: 10px;
    @include gradient;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease-in-out;

    &:hover {
        filter: brightness(1.1);
        box-shadow: 0.2rem 0.8rem 1rem rgba(0, 0, 0, 0.3);
        opacity: 0.9;
    }
}

/**************************************OPERATION******************************/
.operation {
    padding: $section-padding;
    @include column;
    flex-wrap: wrap;
    width: 100%;

    &__title {
        margin: $margin-size;
    }

    &-container__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 16px;

        @include tablette-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;
        }
    }

    &__btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%;
        height: 5rem;
        margin: 25px 0 0px 12px;
        padding: 25px 0;
        @include border-radius(24px);
        cursor: pointer;
        background: $cd-bg-grey;
        box-shadow: $boxshadow;
        transition: background-color 400ms ease-in-out;

        i {
            transition: color 400ms ease-in-out;
        }

        &:hover {
            background-color: lighten($cd-primary, 35);

            i {
                color: $cd-primary;
            }
        }

        @include tablette-only {
            width: 20rem;
        }
    }

    &__btn__step {
        @include center;
        border: none;
        width: 2rem;
        height: 2rem;
        @include border-radius(50%);
        position: absolute;
        left: -23px;
        background: $cd-primary;
        color: white;
    }

    &__btn__icon {
        margin: 0 2rem 0 1.5rem;
        color: #646464;
        transition: color 250ms;
    }

    &__btn__text {
        font-weight: map-get($font-weights, medium);
    }

}


/****************************PARTIE RESTAURANTS*************************/
.restaurants {
    @include column;
    flex-wrap: wrap;
    width: 100%;
    padding: $section-padding;
    background: $cd-bg-grey;

    &__title {
        margin: $margin-size;
    }

    &-container__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 16px;
        gap: 10px;

        @include desktop-only {
            gap: 35px;
        }
    }

    &__card {
        margin-top: 20px;
        @include border-radius(20px);
        width: 100%;
        background: white;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        position: relative;
        transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            filter: brightness(1.1);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }

        @include tablette-only {
            width: 20rem;
        }

        @include desktop-only {
            max-width: 17rem;
        }
    }

    &__img {
        height: 230px;
        border-radius: 20px 20px 0 0;
    }

    &__tag {
        background: #71d8be;
        color: #166350;
        font-weight: map-get($font-weights, medium);
        padding: 0.7rem 1.5rem;
        @include border-radius(0.3rem);
        position: absolute;
        top: 1rem;
        right: 1.05rem;
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 5rem;
        padding: 0 16px;

        &__text {
            @include column;
            margin-bottom: 10px;
            gap: 7px;
        }

        &__title {
            margin: $margin-size;
        }

        &__location {
            margin: $margin-size;
        }

        i {
            font-size: $font-size-icons;
            position: absolute;
            right: 2rem;
            top: 1rem;
        }

        .fas {
            @include heart;
        }
    }
}

/***************************************FOOTER*********************************/
.footer {
    @include column;
    padding: $section-padding;
    background: #070707c9;
    color: white;
    font-weight: map-get($font-weights, medium);

    @include tablette-only {
        align-items: center;
        width: 100%;
    }

    &__title {
        font-family: 'Shrikhand', sans-serif;
        font-weight: map-get($font-weights, light);
        margin: $margin-size;
        margin-bottom: 30px;

        @include tablette-only {
            font-size: 2.5rem;
        }
    }

    &__nav {
        @include column;
        justify-content: space-evenly;
        gap: 15px;

        @include tablette-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 70%;
        }
    }

    &__links {
        display: flex;
        gap: 1rem;
        cursor: pointer;

        &:hover {
            color: $cd-secondary;
        }
    }
}

/***********************************PARTIE MENU PALETTE DU GOÛT**************************/
.menu__image {
    height: 70vw;

    @include tablette-only {
        height: 41vw;
    }

    @include desktop-only {
        height: 33vw;
    }
}

.menu-wrapper {
    width: 100%;
    padding: $section-padding;
    margin-top: -63px;
    position: relative;
    background-color: $cd-bg-grey;
    border-radius: 45px 45px 0 0;

    @include tablette-only {
        @include border-radius(0);
        margin-top: -85px;
        padding: 20px;
    }

    @include desktop-only {
        margin-top: -50px;
    }
}

.menu {
    @include column;
    flex-wrap: wrap;
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0px 0 20px 0;

        @include tablette-only {
            margin: 20px 0 20px 0;
            justify-content: center;
        }

        &__title {
            font-family: $menutitles-font;
            font-size: $menutitles-size;
            margin: $margin-size;

            @include tablette-only {
                font-size: 2.4rem;
            }
        }

        i {
            font-size: $font-size-icons;
            position: absolute;
            right: 2rem;

            @include tablette-only {
                right: 1rem;
            }

            @include desktop-only {
                right: 24rem;
            }
        }

        .fas {
            @include heart;

        }
    }

    &__list {
        @include column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex: 1;
        min-width: 0;
        margin-bottom: 16px;
        gap: 10px;

        @include tablette-only {
            flex-direction: row;
            justify-content: space-between;
        }

        &__category {
            @include column;

            @include tablette-only {
                width: 49%;
            }

            @include desktop-only {
                width: 30%;
            }
        }

        &__title {
            font-weight: map-get($font-weights, regular);
            position: relative;
            text-transform: uppercase;
            margin-bottom: 30px;

            &::after {
                content: "";
                width: 4rem;
                border-bottom: 3px solid $cd-tertiary;
                position: absolute;
                bottom: 0.5rem;
                left: 0;
            }

            @include tablette-only {
                margin-bottom: 15px;
            }
        }

        &__items {
            @include column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 16px;
        }

        /****CARTES MENU*****/
        &__card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            min-width: 0;
            @include border-radius(15px);
            height: 5rem;
            cursor: pointer;
            background: #ffff;
            box-shadow: $boxshadow;
            animation: delay-mode 1s both;

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation-delay: 200ms * $i;
                }
            }

            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                height: 5rem;
                flex: 1;
                min-width: 0;
                position: relative;

                &__text {
                    @include column;
                    gap: 5px;
                    width: 90%;


                    &__title {
                        margin-bottom: 0;
                        width: 100%;
                        font-size: 16px;
                        @include ellipsis;
                    }

                    &__details {
                        margin-top: 0;
                        width: 100%;
                        font-size: 14px;
                        font-weight: map-get($font-weights, light);
                        @include ellipsis;
                    }
                }

                &__price {
                    margin: $margin-size;
                    margin-top: 28px;
                    font-weight: map-get($font-weights, bold);

                }
            }

            &__checked {
                @include center;
                background: $cd-tertiary;
                flex: 0;
                opacity: 0;
                height: 5rem;
                border-radius: 0 15px 15px 0;
                color: white;
                transition: all 0.5s ease-in-out;
            }

            &__checked i {
                font-size: 1.5rem;
                transition: 0.7s ease-in-out;
                transform: rotate(-180deg);
            }

            &:active {

                .menu__list__card__checked {
                    opacity: 100%;
                    flex: 0.3;
                   
                }

                i {
                    transform: rotate(0);
                }

            }

            @include desktop-only {
                &:hover {

                    .menu__list__card__checked {
                        opacity: 100%;
                        flex: 0.3;
                    }

                    i {
                        transform: rotate(0);
                    }

                }
            }

        }
    }
}

/****************************KEYFRAMES*******************/
@keyframes delay-mode {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}