* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-bg-grey: #f7f7f7;
$font-weights:(
    "regular": 200,
    "medium": 500,
    "bold": 800
);
$section-padding: 40px 32px 40px 32px;

   
.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0px 5px 10px 0px #cfcfcf;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    #{&}__logo {
       width: 200px;
    }
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    background-color: #f0efef;
    i {
       font-size: 2rem;
       margin: 0 0 0.5rem 3.5rem;
    } 
    input {
      border: none;
      background-color:#f0efef; 
      width: 250px;
      height: 40px;
      text-indent: 1rem;
      &:focus {
        margin-left: 0.5rem;
      }
      &::placeholder {
        color: black;
        font-size: 1.5rem;
      }
    } 
}

.main-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: $section-padding;
    background-color: $cd-bg-grey;
    #{&}__intro  h1 {
       font-size: 28px;
    }
    #{&}__intro-plus {
        font-size: 18px;
        font-weight: map-get($font-weights, regular);
        margin-bottom: 32px;
    }
    #{&}__btn {
        background: $cd-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 220px;
        height: 55px;
        margin: 20px auto;
        border-radius: 40px;
        white-space: nowrap;
        cursor: pointer;
        padding: 10px;
        
    }
}

@media (min-width: 768px){
    .main-title {
        color: white;
        background:rgba(68, 52, 86, 0.722);
    }
}

.operation {
    padding: $section-padding;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    #{&}-container__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        ;
        width: 100%;
        margin-bottom: 16px;
  }
    #{&}__btn {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        position: relative;
        width: 100%;
        height: 5rem;
        margin: 25px 0 0px 12px;
        padding: 25px 0;
        border-radius: 24px;
        cursor: pointer;
        background: $cd-bg-grey;
        box-shadow: 0px 5px 10px 0px #cfcfcf;
    }
    #{&}__btn__step {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: absolute;
        left: -23px;
        background: $cd-primary;
        color: white;
    }
    #{&}__btn__icon {
        margin: 0 2rem 0 1.5rem;
        color: #646464;;
    }
    #{&}__btn__text {
        font-weight: map-get($font-weights, medium);
    }
    
}

@media (min-width: 768px) {
    .operation {
      display:flex;
      flex-wrap: wrap;
      padding: 40px 0;

      #{&}__title {
        margin: 0 35px 10px;
      }
      #{&}-container__btn {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
       #{&}__btn {
        width: 20rem;
      
    }
    }
   
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: $section-padding;
    background: $cd-bg-grey;
    border: 1px solid black;
    #{&}-container__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 16px;
        gap: 10px;
        border: 1px solid green;
    }
    #{&}__card {
        border: 1px solid red;
        margin-top: 20px;
        border-radius: 20px;
        width: 100%;
    }
    #{&}__img {
        height: 175px;
        border-radius: 20px 20px 0 0;
    }
    #{&}__tag {
        border: 1px solid;
        background: #71d8be;
        color: #166350;
        font-weight: map-get($font-weights, medium);
        
    }
  }