$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$font-weights:(
    "regular": 400,
    "medium": 500,
    "bold": 800
);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}
