* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-bg-grey: #f7f7f7;
$font-weights:(
    "regular": 200,
    "medium": 500,
    "bold": 800
);

.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0px 5px 10px 0px #cfcfcf;
    position: relative;
    z-index: 1;
    #{&}__logo {
       width: 200px;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    background-color: #f0efef;
    i {
       font-size: 2rem;
       margin: 0 0 0.5rem 3.5rem;
    } 
    input {
      border: none;
      background-color:#f0efef; 
      width: 250px;
      height: 40px;
      text-indent: 1rem;
      &:focus {
        margin-left: 0.5rem;
      }
      &::placeholder {
        color: black;
        font-size: 1.5rem;
      }
    } 
}

.main-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px 32px 60px 32px;
    background-color: $cd-bg-grey;
    #{&}__intro  h1 {
       font-size: 28px;
    }
    #{&}__intro-plus {
        font-size: 18px;
        font-weight: map-get($font-weights, regular);
        margin-bottom: 32px;
    }
    #{&}__btn {
        background: $cd-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 220px;
        height: 55px;
        margin: 20px auto;
        border-radius: 40px;
        white-space: nowrap;
        cursor: pointer;
        padding: 10px;
        
    }
}

@media (min-width: 768px){
    .main-title {
        color: white;
        background:rgba(68, 52, 86, 0.722);
    }
}