* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-bg-grey: #f7f7f7;
$font-weights: (
    "light": 200,
    "regular":300,
    "medium": 500,
    "bold": 800
);
$section-padding: 36px 20px;
$menutitles-font: "Shrikhand";
$menutitles-size: 1.7rem;
$margin-zero: 0;


.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0px 5px 10px 0px #cfcfcf;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;

    &.header--no-shadow {
        box-shadow: none;
    }

    #{&}__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: none;
    }

    #{&}__return {
        position: absolute;
        left: 2rem;
        font-size: 2rem;
    }

    #{&}__logo {
        width: 200px;
    }
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    background-color: #f0efef;

    i {
        font-size: 2rem;
        margin: 0 0 0.5rem 3.5rem;
    }

    input {
        border: none;
        background-color: #f0efef;
        width: 250px;
        height: 40px;
        text-indent: 1rem;

        &:focus {
            margin-left: 0.5rem;
        }

        &::placeholder {
            color: black;
            font-size: 1.5rem;
        }
    }
}

.main-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: $section-padding;
    background-color: $cd-bg-grey;

    #{&}__intro h1 {
        font-size: 28px;
    }

    #{&}__intro-plus {
        font-size: 18px;
        font-weight: map-get($font-weights, light);
        margin-bottom: 32px;
    }

    /*FAIRE UNE MIXIN BOUTON-PURPLE*/
    #{&}__btn {
        background: $cd-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 220px;
        height: 55px;
        margin: 20px auto;
        border-radius: 40px;
        white-space: nowrap;
        cursor: pointer;
        padding: 10px;

    }
}


.operation {
    padding: $section-padding;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    #{&}__title {
        margin: $margin-zero;
    }

    #{&}-container__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        ;
        width: 100%;
        margin-bottom: 16px;
    }

    #{&}__btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%;
        height: 5rem;
        margin: 25px 0 0px 12px;
        padding: 25px 0;
        border-radius: 24px;
        cursor: pointer;
        background: $cd-bg-grey;
        box-shadow: 0px 5px 10px 0px #cfcfcf;
    }

    #{&}__btn__step {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: absolute;
        left: -23px;
        background: $cd-primary;
        color: white;
    }

    #{&}__btn__icon {
        margin: 0 2rem 0 1.5rem;
        color: #646464;
        ;
    }

    #{&}__btn__text {
        font-weight: map-get($font-weights, medium);
    }

}

@media (min-width: 768px) {
    .operation {
        display: flex;
        flex-wrap: wrap;

        #{&}-container__btn {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;
        }

        #{&}__btn {
            width: 20rem;
        }
    }

}

.restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: $section-padding;
    background: $cd-bg-grey;

    #{&}__title {
        margin: $margin-zero;
    }

    #{&}-container__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 16px;
        gap: 10px;
    }

    #{&}__card {
        margin-top: 20px;
        border-radius: 20px;
        width: 100%;
        background: white;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        position: relative;
    }

    #{&}__img {
        height: 230px;
        border-radius: 20px 20px 0 0;
    }

    #{&}__tag {
        background: #71d8be;
        color: #166350;
        font-weight: map-get($font-weights, medium);
        padding: 0.7rem 1.5rem;
        border-radius: 0.3rem;
        position: absolute;
        top: 1rem;
        right: 1.05rem;
    }

    #{&}__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 5rem;
        padding: 0 16px;

        &__text {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            gap: 7px;
        }

        &__title {
            margin: $margin-zero;
        }

        &__location {
            margin: $margin-zero;
        }

        &__heart {
            padding: 11px 16px 0 0;
            font-size: 25px;
            color: #5b5b5b;
            position: absolute;
            right: 1rem;
            top: 0;
        }
    }
}

@media (min-width: 768px) {
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        #{&}-container__cards {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        #{&}__card {
            width: 20rem;
        }
    }
}

@media (min-width: 1280px) {
    .restaurants {
        display: flex;
        width: 100%;

        #{&}-container__cards {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            gap: 35px;
        }

        #{&}__card {
            width: 18rem;
            max-width: 20rem;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding: $section-padding;
    background: #070707c9;
    color: white;
    font-weight: map-get($font-weights, medium);

    #{&}__title {
        font-family: 'Shrikhand', sans-serif;
        font-weight: map-get($font-weights, light);
        margin: $margin-zero;
        margin-bottom: 30px;
    }

    #{&}__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 15px;
    }

    #{&}__links {
        display: flex;
        gap: 1rem
    }
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        #{&}__title {
            font-size: 2.5rem;
        }

        #{&}__nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 70%;
        }

        #{&}__links {
            display: flex;
        }
    }
}

@media (min-width: 768px) {
    .menu__image {
        height: 350px;
        object-position: bottom;
    }
}

@media (min-width: 1280px) {
    .menu__image {
        height: 480px
    }
}

.menu-wrapper {
    width: 100%;
    padding: $section-padding;
    margin-top: -63px;
    position: relative;
    background-color: $cd-bg-grey;
    border-radius: 45px 45px 0 0;
}

@media (min-width: 768px) {
    .menu-wrapper {
        border-radius: 0;
    }
}

@media (min-width: 1280px) {
    .menu-wrapper {
        margin-top: -134px;
    }
}

.menu-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;

    #{&}__title {
        font-family: $menutitles-font;
        font-size: $menutitles-size;
        margin: $margin-zero;
    }

    /*FAIRE UNE MIXIN MENU-HEART ?*/
    #{&}__heart {
        font-size: 2rem;
        color: #5b5b5b;
        position: absolute;
        right: 0rem;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    #{&}__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 16px;
        gap: 10px;
    }

    #{&}__category {
        font-weight: map-get($font-weights, regular);
        position: relative;
        text-transform: uppercase;
        margin-bottom: 30px;

        &::after {
            content: "";
            width: 4rem;
            border-bottom: 3px solid $cd-tertiary;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
        }
    }
    #{&}__card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 15px;
        height: 5rem;
        background: #ffff;
        box-shadow: 0px 5px 10px 0px #cfcfcf;
    }
    #{&}__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        height: 5rem;
        width:100%;
        position:relative;
        &__text {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &__title {
            margin-bottom: 0;
        }
        &__details {
            margin-top: 0;
        }
        &__price {
            margin:0;
            margin-top:28px
        }
    }
   
}