$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-bg-grey: #f7f7f7;
$section-padding: 36px 20px;
$menutitles-font: "Shrikhand";
$menutitles-size: 1.7rem;
$margin-size: 0;
$boxshadow: 0px 5px 10px 0px #cfcfcf;
$font-size-icons: 2rem;