* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.header.header--no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .header__return {
  position: absolute;
  left: 2rem;
  font-size: 2rem;
}
.header .header__logo {
  width: 200px;
}

@media (min-width: 768px) {
  .header.header--no-shadow {
    padding: 1rem;
  }
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  background-color: #f0efef;
}
.search i {
  font-size: 2rem;
  margin: 0 0 0.5rem 3.5rem;
}
.search input {
  border: none;
  background-color: #f0efef;
  width: 250px;
  height: 40px;
  text-indent: 1rem;
}
.search input:focus {
  margin-left: 0.5rem;
}
.search input::-webkit-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::-moz-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input:-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::placeholder {
  color: black;
  font-size: 1.5rem;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 20px;
  background-color: #f7f7f7;
}
.main-title .main-title__intro h1 {
  font-size: 28px;
}
.main-title .main-title__intro-plus {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 32px;
}

.btn-bg {
  background: #FF79DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 220px;
  height: 55px;
  margin: 20px auto;
  border-radius: 40px;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
}

.operation {
  padding: 36px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.operation .operation__title {
  margin: 0;
}
.operation .operation-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}
.operation .operation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 25px 0 0px 12px;
  padding: 25px 0;
  border-radius: 24px;
  cursor: pointer;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
}
.operation .operation__btn__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -23px;
  background: #9356DC;
  color: white;
}
.operation .operation__btn__icon {
  margin: 0 2rem 0 1.5rem;
  color: #646464;
}
.operation .operation__btn__text {
  font-weight: 500;
}

@media (min-width: 768px) {
  .operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .operation .operation-container__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 20px;
  }
  .operation .operation__btn {
    width: 20rem;
  }
}
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 36px 20px;
  background: #f7f7f7;
}
.restaurants .restaurants__title {
  margin: 0;
}
.restaurants .restaurants-container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 16px;
  gap: 10px;
}
.restaurants .restaurants__card {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.restaurants .restaurants__img {
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurants__tag {
  background: #71d8be;
  color: #166350;
  font-weight: 500;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 1rem;
  right: 1.05rem;
}
.restaurants .restaurants__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 0 16px;
}
.restaurants .restaurants__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  gap: 7px;
}
.restaurants .restaurants__content__title {
  margin: 0;
}
.restaurants .restaurants__content__location {
  margin: 0;
}
.restaurants .restaurants__content__heart {
  padding: 11px 16px 0 0;
  font-size: 25px;
  color: #5b5b5b;
  position: absolute;
  right: 1rem;
  top: 0;
}

@media (min-width: 768px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .restaurants .restaurants-container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .restaurants .restaurants__card {
    width: 20rem;
  }
}
@media (min-width: 1280px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .restaurants .restaurants-container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    gap: 35px;
  }
  .restaurants .restaurants__card {
    width: 18rem;
    max-width: 20rem;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 20px;
  background: rgba(7, 7, 7, 0.7882352941);
  color: white;
  font-weight: 500;
}
.footer .footer__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  margin: 0;
  margin-bottom: 30px;
}
.footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
}
.footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer .footer__title {
    font-size: 2.5rem;
  }
  .footer .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
  }
  .footer .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .menu__image {
    max-height: 24rem;
  }
}
@media (min-width: 1280px) {
  .menu__image {
    width: 100%;
  }
}
.menu-wrapper {
  width: 100%;
  padding: 36px 20px;
  margin-top: -63px;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 45px 45px 0 0;
}

@media (min-width: 768px) {
  .menu-wrapper {
    border-radius: 0;
    margin-top: -85px;
    padding: 20px;
  }
}
@media (min-width: 1280px) {
  .menu-wrapper {
    margin-top: -50px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 40px 0 20px 0;
  /*FAIRE UNE MIXIN MENU-HEART ?*/
}
.menu__header .menu__header__title {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  margin: 0;
}
.menu__header .menu__header__heart {
  font-size: 2rem;
  color: #5b5b5b;
  position: absolute;
  right: 0rem;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 16px;
  gap: 10px;
}
.menu__list .menu__list__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__list .menu__list__title {
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu__list .menu__list__title::after {
  content: "";
  width: 4rem;
  border-bottom: 3px solid #99E2D0;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}
.menu__list .menu__list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 16px;
}
.menu__list .menu__list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  height: 5rem;
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
}
.menu__list .menu__list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  height: 5rem;
  width: 100%;
  position: relative;
}
.menu__list .menu__list__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.menu__list .menu__list__content__title {
  margin-bottom: 0;
}
.menu__list .menu__list__content__details {
  margin-top: 0;
  font-weight: 200;
}
.menu__list .menu__list__content__price {
  margin: 0;
  margin-top: 28px;
}

@media (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menu__header {
    margin: 20px 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__header .menu__header__heart {
    right: 11rem;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .menu__list .menu__list__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
  }
  .menu__list .menu__list__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menu__header {
    margin: 20px 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__header .menu__header__heart {
    right: 26rem;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .menu__list .menu__list__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */