@charset "UTF-8";
/**************************************GÉNÉRAL*********************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/**************************************VARIABLES***************************/
/*************************************MAP******************************/
/************************************MIXINS*****************************/
/************************************LOADER*****************************/
.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
  position: fixed;
  inset: 0;
  z-index: 3;
  -webkit-animation: fadeaway 1000ms 3000ms linear forwards;
          animation: fadeaway 1000ms 3000ms linear forwards;
}

.spinner {
  position: relative;
  width: 15rem;
  height: 15rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
}
.spinner .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.spinner .arc:nth-child(1) {
  -webkit-animation: rotate1 1.15s linear infinite;
          animation: rotate1 1.15s linear infinite;
}
.spinner .arc:nth-child(2) {
  -webkit-animation: rotate2 1.15s linear infinite;
          animation: rotate2 1.15s linear infinite;
}
.spinner .arc:nth-child(3) {
  -webkit-animation: rotate3 1.15s linear infinite;
          animation: rotate3 1.15s linear infinite;
}
.spinner .arc:nth-child(1) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  border-bottom: 10px solid #9356DC;
}
.spinner .arc:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  border-bottom: 10px solid #FF79DA;
}
.spinner .arc:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  border-bottom: 10px solid #99E2D0;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@-webkit-keyframes fadeaway {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
  }
  85%, 100% {
    opacity: 0.33;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeaway {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
  }
  85%, 100% {
    opacity: 0.33;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    visibility: hidden;
  }
}
/*****************************************HEADER**********************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.header.header--no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header__return {
  position: absolute;
  left: 2rem;
  font-size: 2rem;
}
.header__logo {
  width: 200px;
}

/********************************HEADER RESPONSIVE***************************/
@media (min-width: 768px) {
  .header.header--no-shadow {
    padding: 1rem;
  }
}
/***************************************SEARCH****************************/
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  background-color: #f0efef;
}
.search i {
  font-size: 2rem;
  margin: 0 0 0.5rem 3.5rem;
}
.search input {
  border: none;
  background-color: #f0efef;
  width: 250px;
  height: 40px;
  text-indent: 1rem;
}
.search input:focus {
  margin-left: 0.5rem;
}
.search input::-webkit-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::-moz-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input:-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::placeholder {
  color: black;
  font-size: 1.5rem;
}

/********************************MAIN TITLE***************************/
.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 36px 20px;
  background-color: #f7f7f7;
}
.main-title_intro h1 {
  font-size: 28px;
}
.main-title__intro-plus {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 32px;
}

/**********BOUTON PURPLE*********/
.btn-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 220px;
  height: 55px;
  margin: 20px auto;
  border-radius: 50px;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-bg:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 0.2rem 0.8rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.2rem 0.8rem 1rem rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

/**************************************OPERATION******************************/
.operation {
  padding: 36px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.operation__title {
  margin: 0;
}
.operation-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}
.operation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 25px 0 0px 12px;
  padding: 25px 0;
  border-radius: 24px;
  cursor: pointer;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  -webkit-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.operation__btn i {
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
}
.operation__btn:hover {
  background-color: #f2eafb;
}
.operation__btn:hover i {
  color: #9356DC;
}
.operation__btn__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -23px;
  background: #9356DC;
  color: white;
}
.operation__btn__icon {
  margin: 0 2rem 0 1.5rem;
  color: #646464;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.operation__btn__text {
  font-weight: 500;
}

/**************************************OPERATION RESPONSIVE********************/
@media (min-width: 768px) {
  .operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .operation-container__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 20px;
  }
  .operation__btn {
    width: 20rem;
  }
}
/****************************PARTIE RESTAURANTS*************************/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 36px 20px;
  background: #f7f7f7;
}
.restaurants__title {
  margin: 0;
}
.restaurants-container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 16px;
  gap: 10px;
}
.restaurants__card {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: -webkit-filter 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.restaurants__card:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.restaurants__img {
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.restaurants__tag {
  background: #71d8be;
  color: #166350;
  font-weight: 500;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 1rem;
  right: 1.05rem;
}
.restaurants__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 0 16px;
}
.restaurants__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  gap: 7px;
}
.restaurants__content__title {
  margin: 0;
}
.restaurants__content__location {
  margin: 0;
}
.restaurants__content i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.restaurants__content .fas {
  color: transparent;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.restaurants__content .fas:hover {
  opacity: 1;
}

/**********************************RESTAURANTS RESPONSIVE****************************/
@media (min-width: 768px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .restaurants-container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .restaurants__card {
    width: 20rem;
  }
}
@media (min-width: 1280px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .restaurants-container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    gap: 35px;
  }
  .restaurants__card {
    max-width: 17rem;
  }
}
/***************************************FOOTER*********************************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 20px;
  background: rgba(7, 7, 7, 0.7882352941);
  color: white;
  font-weight: 500;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  margin: 0;
  margin-bottom: 30px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

/********************************FOOTER RESPONSIVE**********************************/
@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer__title {
    font-size: 2.5rem;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/***********************************PARTIE MENU PALETTE DU GOÛT**************************/
.menu__image {
  height: 70vw;
}

/**************************************MENU-IMAGE RESPONSIVE****************************/
@media (min-width: 768px) {
  .menu__image {
    height: 41vw;
  }
}
@media (min-width: 1280px) {
  .menu__image {
    height: 33vw;
    width: 100%;
  }
}
.menu-wrapper {
  width: 100%;
  padding: 36px 20px;
  margin-top: -63px;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 45px 45px 0 0;
}

/********************************MENU-WRAPPER RESPONSIVE************************/
@media (min-width: 768px) {
  .menu-wrapper {
    border-radius: 0;
    margin-top: -85px;
    padding: 20px;
  }
}
@media (min-width: 1280px) {
  .menu-wrapper {
    margin-top: -50px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0px 0 20px 0;
}
.menu__header__title {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  margin: 0;
}
.menu__header i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
}
.menu__header .fas {
  color: transparent;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.menu__header .fas:hover {
  opacity: 1;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 16px;
  gap: 10px;
  /****CARTES MENU*****/
}
.menu__list__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__list__title {
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu__list__title::after {
  content: "";
  width: 4rem;
  border-bottom: 3px solid #99E2D0;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}
.menu__list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 16px;
}
.menu__list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  height: 5rem;
  cursor: pointer;
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  -webkit-animation: delay-mode 1s both;
          animation: delay-mode 1s both;
}
.menu__list__card:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu__list__card:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu__list__card:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu__list__card__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99E2D0;
  width: 0;
  opacity: 0;
  height: 5rem;
  border-radius: 0 15px 15px 0;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu__list__card__checked i {
  font-size: 1.5rem;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.menu__list__card:hover .menu__list__card__checked {
  opacity: 100%;
  width: 5rem;
}
.menu__list__card:hover i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.menu__list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  height: 5rem;
  width: 100%;
  position: relative;
}
.menu__list__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 90%;
}
.menu__list__content__title {
  margin-bottom: 0;
  width: 100%;
  font-size: 16px;
}
.menu__list__content__details {
  margin-top: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
}
.menu__list__content__price {
  margin: 0;
  margin-top: 28px;
}

/****************************KEYFRAMES*******************/
@-webkit-keyframes delay-mode {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes delay-mode {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*************************************MENU REPONSIVE**************************/
@media (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menu__header {
    margin: 20px 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__header__title {
    font-size: 2.4rem;
  }
  .menu__header i {
    right: 1rem;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .menu__list__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
  }
  .menu__list__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menu__header {
    margin: 20px 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__header i {
    right: 24rem;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .menu__list__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */