* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.header .header__logo {
  width: 200px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  background-color: #f0efef;
}
.search i {
  font-size: 2rem;
  margin: 0 0 0.5rem 3.5rem;
}
.search input {
  border: none;
  background-color: #f0efef;
  width: 250px;
  height: 40px;
  text-indent: 1rem;
}
.search input:focus {
  margin-left: 0.5rem;
}
.search input::-webkit-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::-moz-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input:-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}
.search input::placeholder {
  color: black;
  font-size: 1.5rem;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 32px 40px 32px;
  background-color: #f7f7f7;
}
.main-title .main-title__intro h1 {
  font-size: 28px;
}
.main-title .main-title__intro-plus {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 32px;
}
.main-title .main-title__btn {
  background: #FF79DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 220px;
  height: 55px;
  margin: 20px auto;
  border-radius: 40px;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
}

@media (min-width: 768px) {
  .main-title {
    color: white;
    background: rgba(68, 52, 86, 0.722);
  }
}
.operation {
  padding: 40px 32px 40px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.operation .operation-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}
.operation .operation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 25px 0 0px 12px;
  padding: 25px 0;
  border-radius: 24px;
  cursor: pointer;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
}
.operation .operation__btn__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -23px;
  background: #9356DC;
  color: white;
}
.operation .operation__btn__icon {
  margin: 0 2rem 0 1.5rem;
  color: #646464;
}
.operation .operation__btn__text {
  font-weight: 500;
}

@media (min-width: 768px) {
  .operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0;
  }
  .operation .operation__title {
    margin: 0 35px 10px;
  }
  .operation .operation-container__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .operation .operation__btn {
    width: 20rem;
  }
}
.restaurants {
  background: #f7f7f7;
}/*# sourceMappingURL=main.css.map */