.search {
    @include center;
    height: 4.5rem;
    background-color: #f0efef;

    i {
        font-size: $font-size-icons;
        margin: 0 0 0.5rem 3.5rem;
    }

    input {
        border: none;
        background-color: #f0efef;
        width: 250px;
        height: 40px;
        text-indent: 1rem;

        &:focus {
            margin-left: 0.5rem;
        }

        &::placeholder {
            color: black;
            font-size: 1.5rem;
        }
    }
}