.operation {
    padding: $section-padding;
    @include column;
    flex-wrap: wrap;
    width: 100%;

    &__title {
        margin: $margin-size;
    }

    &-container__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 16px;

        @include tablette-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;
        }
    }

    &__btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%;
        height: 5rem;
        margin: 25px 0 0px 12px;
        padding: 25px 0;
        @include border-radius(24px);
        cursor: pointer;
        background: $cd-bg-grey;
        box-shadow: $boxshadow;
        transition: background-color 400ms ease-in-out;

        i {
            transition: color 400ms ease-in-out;
        }

        &:hover {
            background-color: lighten($cd-primary, 35);

            i {
                color: $cd-primary;
            }
        }

        @include tablette-only {
            width: 20rem;
        }
    }

    &__btn__step {
        @include center;
        border: none;
        width: 2rem;
        height: 2rem;
        @include border-radius(50%);
        position: absolute;
        left: -23px;
        background: $cd-primary;
        color: white;
    }

    &__btn__icon {
        margin: 0 2rem 0 1.5rem;
        color: #646464;
        transition: color 250ms;
    }

    &__btn__text {
        font-weight: map-get($font-weights, medium);
    }

}
