.restaurants {
    @include column;
    flex-wrap: wrap;
    width: 100%;
    padding: $section-padding;
    background: $cd-bg-grey;

    &__title {
        margin: $margin-size;
    }

    &-container__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 16px;
        gap: 10px;

        @include desktop-only {
            gap: 35px;
        }
    }

    &__card {
        margin-top: 20px;
        @include border-radius(20px);
        width: 100%;
        background: white;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        position: relative;
        transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            filter: brightness(1.1);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }

        @include tablette-only {
            width: 20rem;
        }

        @include desktop-only {
            max-width: 17rem;
        }
    }

    &__img {
        height: 230px;
        border-radius: 20px 20px 0 0;
    }

    &__tag {
        background: #71d8be;
        color: #166350;
        font-weight: map-get($font-weights, medium);
        padding: 0.7rem 1.5rem;
        @include border-radius(0.3rem);
        position: absolute;
        top: 1rem;
        right: 1.05rem;
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 5rem;
        padding: 0 16px;

        &__text {
            @include column;
            margin-bottom: 10px;
            gap: 7px;
        }

        &__title {
            margin: $margin-size;
        }

        &__location {
            margin: $margin-size;
        }

        i {
            font-size: $font-size-icons;
            position: absolute;
            right: 2rem;
            top: 1rem;
        }

        .fas {
            @include heart;
        }
    }
}